<section class="total-body mobile-comon-animation mt-5 pt-3 d-block">
    <div class="blog-page comon-services-pge">

        <div class="container">
            <h6 class="text-center cm-sub" data-aos="fade-down"> اخبار و مقالات </h6>
            <h2 class="text-center" data-aos="fade-up"> بلاگ های ما</h2>

            <div class="project-menu" data-aos="fade-up">
                <div class="category-div ">
                    <h2> دسته بندی ها </h2>
                    <div class="project-menu" data-aos="fade-up">
                        <ul class="filter-list list-unstyled">
                            <li data-filter="all" class="active">همه</li>
                            <% Categories.forEach(element => { %>
                                <li data-filter=".<%= element.tag %>">
                                    <%= element.name%>
                                </li>
                                <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 gx-lg-5 my-5 row-cols-lg-3 gallery">
                <% Data.forEach(element => { %>
                    <div class="col mix <%= element.category %> all" data-aos="fade-right">
                        <div class="comon-news-part">
                            <div class="comon-pic-news">
                                <figure class="position-relative">
                                    <a href="/blogDetails/?_id=<%= element._id %>"> <img src="images/<%= element.media %>" alt="picb" /> </a>
                                </figure>

                            </div>
                            <div class="dtails-idv-text">
                                <ul class="list-unstyled d-flex">
                                    <li>
                                        <a href="#"> <i class="fa fa-user-alt"></i>
                                            <%= element.writer %>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fas fa-calendar-week"></i>
                                            <%= element.dateID%>
                                        </a>
                                    </li>
                                </ul>
                                <h5>
                                    <%= element.title %>
                                </h5>
                                <p>
                                    <%= element.description.substring(0,80); %> ... </p>
                                <a href="/blogDetails/?_id=<%= element._id %>" class="btn read-more-bn text-uppercase"> ادامه مطلب </a>
                            </div>
                        </div>
                    </div>
                    <% }) %>

            </div>
        </div>

    </div>

</section>