<div class="c-container">
    <div class="menu-btn">=</div>
    <div class="menu">
        <div class="profile-image">
            <img src="/images/profile-avatar.svg" alt="profile image">
        </div>
        <div class="username">
            <img src="/assets/icons/edit.svg" alt="edit icon" class="edit-name-btn">
            <div class="txt">

            </div>
        </div>
        <div class="bottom">
            <div class="tabs">
                <div class="tab" data-target="basket" data-focus="false"><img src="/assets/icons/shopping-basket.svg" alt="basket">
                    <div class="title">سبد خرید</div>
                </div>
                <div class="tab" data-target="setting" data-focus="false"><img src="/assets/icons/setting.svg" alt="setting">
                    <div class="title">تنظیمات</div>
                </div>
                <div class="tab" data-target="logout" data-focus="false"><img src="/assets/icons/logout.svg" alt="logout">
                    <div class="title">خروج از حساب کاربری</div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="into">
            <div class="page basket focus" data-name="basket">
                <div class="into">
                    <% orders.forEach(element => { %>
                        <a href="/product-details/?_id=<%=element._id%>" class="item" data-paid=<%=element.status %>>
                            <div class="image">
                                <img src="/images/<%= element.media %>" alt="product image">
                            </div>
                            <div class="left">
                                <div class="title">
                                    <%=  element.name%>
                                </div>
                                <div class="description">
                                    <%=  element.description %>
                                </div>
                            </div>
                            <div class="paid">
                                <div class="m-1">
                                    پرداخت شده
                                </div>
                                <i class="gg-check-o icon"></i>
                            </div>
                            <div class="unpaid">
                                <div class="m-1">
                                    در انتظار پرداخت
                                </div>
                                <i class="gg-loadbar-alt icon"></i>
                            </div>
                            <div class="canceled">
                                <div class="m-1">
                                    لغو شده
                                </div>
                                <i class="gg-exit-o icon"></i>
                            </div>
                        </a>
                        <% }) %>

                </div>
            </div>
            <div class="page setting" data-name="setting">

                <img src="/assets/icons/setting.svg" alt="setting icon" width="100px" height="100px">
                <form action="/account/profile" method="post" class="">
                    <div class="mb-3">
                        <label for="inputFullName" class="form-label d-flex justify-content-end">ایمیل<i
                                class="gg-mail  m-1"></i></label>
                        <input type="email" class="form-control" id="inputEmail" name="email" disabled value=<%=user.email %> >
                    </div>
                    <div class="mb-3">
                        <label for="inputPhonenumber" class="form-label d-flex justify-content-end">تلفن همراه<i
                                class="gg-smartphone m-1"></i></label>
                        <input type="number" class="form-control" id="inputPhonenumber" name="phonenumber" value=<%=user.phoneNumber %> >
                    </div>
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label d-flex justify-content-end">نام و نام خانوادگی<i
                                class="gg-rename m-1"></i></label>
                        <input type="text" class="form-control" id="inputFullName" name="name" value=<%=user.name %>>
                    </div>
                    <!-- <div class="mb-3">
                        <label for="inputPassword" class="form-label d-flex justify-content-end">رمز عبور<i
                                class="gg-password m-1"></i></label>
                        <input type="password" class="form-control" id="inputPassword">
                    </div> -->
                    <button type="submit" class="btn btn-primary w-100">تایید</button>
                </form>
            </div>
            <div class="page logout" data-name="logout">
                <div class="into d-flex flex-column justify-content-center align-items-center h-100 flex-wrap">
                    <div class="title w-100 text-center user-select-none">
                        آیا میخواهید از حساب کاربری خود خارج شوید؟
                    </div>
                    <div class="btns d-flex">
                        <a href="/account/logout" class="btn btn-outline-primary m-0 ">بله</a>
                        <a href="#" class="btn btn-outline-danger m-0">خیر</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/bootsrtap.js"></script>
<script src="/js/profile.js"></script>