<div class="news-sec-div">
    <div class="container">
        <h6 class="text-center" data-aos="fade-down"> اخبار و مقالات </h6>
        <h2 class="text-center" data-aos="fade-up"> آخرین بلاگ های ما </h2>
        <div class="news-sec-div-part " data-aos="fade-down">
            <div class="carusalItem">
                <% if (blogs.length > 3) { %>
                    <% for( let index = 0; index < 2; index++ ) { %>
                        <div class="item2">
                            <div class="comon-news-part">
                                <div class="comon-pic-news">
                                    <figure class="position-relative">
                                        <a href="/blogDetails/?_id=<%= blogs[index]._id %>"> <img src="images/<%= blogs[index].media %>" alt="picb" /> </a>
                                    </figure>

                                </div>
                                <div class="dtails-idv-text">
                                    <ul class="list-unstyled d-flex">
                                        <li>
                                            <a href="#"> <i class="fa fa-user-alt"></i>
                                                <%= blogs[index].writer %>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fas fa-calendar-week"></i>
                                                <%= blogs[index].dateID %>
                                            </a>
                                        </li>
                                    </ul>
                                    <h5>
                                        <%= blogs[index].title %>
                                    </h5>
                                    <p>
                                        <%= blogs[index].description %>
                                    </p>
                                    <a href="/blogDetails/?_id=<%= blogs[index]._id %>" class="btn read-more-bn text-uppercase"> ادامه مطلب </a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <% }else{  %>
                                <% for( let index = 0; index < blogs.length; index++ ) { %>

                                    <div class="item2">
                                        <div class="comon-news-part">
                                            <div class="comon-pic-news">
                                                <figure class="position-relative">
                                                    <a href="/blogDetails/?_id=<%= blogs[index]._id %>"> <img src="images/<%= blogs[index].media %>" alt="picb" /> </a>
                                                </figure>

                                            </div>
                                            <div class="dtails-idv-text">
                                                <ul class="list-unstyled d-flex">
                                                    <li>
                                                        <a href="#"> <i class="fa fa-user-alt"></i>
                                                            <%= blogs[index].writer %>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> <i class="fas fa-calendar-week"></i>
                                                            <%= blogs[index].dateID %>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <h5>
                                                    <%= blogs[index].title %>
                                                </h5>
                                                <p>
                                                    <%= blogs[index].description.substring(0,80); %> ...
                                                </p>
                                                <a href="/blogDetails/?_id=<%= blogs[index]._id %>" class="btn read-more-bn text-uppercase"> ادامه مطلب </a>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% } %>
            </div>
        </div>
    </div>
</div>